---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <div class="min-h-screen w-full overflow-hidden bg-muted-100">
        <h1>Hola</h1>
    </div>
</Layout>
